extends baseEmail

block content   
    p Hi #{firstName},
        p Forget password? Submit a patch request with your new password to reset link: #{url}
        p Website for this site not yet implemented
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset Your Password
    p If you didn't forget your password , please ignore the mail